$green : #5B6556;
$dark : #31331F;
$creme: #F5F3EE;
$orange: #B98B68;
.green{
  color:$green;
}
.black{
color:$dark;
}
.creme{
  color: $creme;
}
.orange{
  color:$orange;
}
.center{
  text-align: center;
}
.uppercase{
  text-transform: uppercase;
}
a{
  text-decoration: none;
  color:inherit;
}
.white{
  color:white;
}
.underline{
  text-decoration: underline;
}
.nowrap{
  white-space: nowrap;
  @media( max-width : 767px){
    white-space: inherit;
  }
}
p{
  margin-block-start: 0;
  margin-block-end: 0;
}
h1,h2,h3{
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: inherit;
}
.vce{
  margin-bottom:0!important;
}
.bold{
  font-family: 'Manrope Bold';
  font-weight: 700;
}
.semiBold{
  font-family: 'Manrope SemiBold';
  font-weight: 600;
}
ul{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
h1{
  color:$creme;
   font-size: calc(65vw / 19.2);
   font-family: 'Manrope Light';
   font-weight: 300;
   line-height: 1.12;
   letter-spacing:-0.23px ;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.test-bloc{
    @include flex-center;
}
.nowrap{
  white-space: nowrap;
}
.btn-cta{
  background-color: $orange;
  border-radius: calc(30vw / 19.2);
  font-size: calc(20vw / 19.2);
  font-family: 'Manrope Regular';
  padding: calc(22vw / 19.2) calc(30vw / 19.2);
  color:white;
  display: inline-block;
  text-align: center;
  &:hover{
    background-color: #5B6556;
  }
}
.btn-appointment{
  background-color: $orange;
  border-radius: calc(30vw / 19.2);
  font-size: calc(20vw / 19.2);
  font-family: 'Manrope Regular';
  padding: calc(17vw / 19.2) calc(50vw / 19.2);
  color:white;
  display: inline-block;
  text-align: center;
  &:hover{
    background-color: #5B6556;
  }
}
.full-width{
  .vce.vce-single-image-wrapper{
    width:100%;
    height: auto;
    figure{
      width:100%;
      height: auto;
      .vce-single-image-figure-inner{
        width:100%!important;
        height: auto;
      }
    }
  }
}
.pb-30{
  padding-bottom: calc(30vw / 19.2);
}
.pl-140{
  padding-left: calc(140vw / 19.2);
}
.pt-160{
  padding-top: calc(160vw / 19.2);
}
.pb-160{
  padding-bottom: calc(160vw / 19.2);
}