$desktop-width: 1366px;
$table-width: 767px;
$table-width-for-hide: 767px;
$mobile-width: 425px;
@function widthCalc($int) {
  @return calc(#{$int}vw / 19.2);
}
@function widthCalcFixedSize($int,$divided:1920) {
  @return calc(#{$int}vw / 13.66);
}
@mixin fontSize($int) {
  font-size: widthCalcFixedSize($int);
  @media (min-width: $desktop-width) {
    font-size: widthCalc($int);
  }
  @media (max-width: $table-width) {

    @if ($int==45) {
      font-size: 25px !important;
    }
      @if ($int==65) {
      font-size: 30px !important;
    }
     @if ($int==50) {
      font-size: 25px !important;
    }
  }
}
%fs45{
  @include fontSize(45);
}
%fs30{
  @include fontSize(30);
}
%fs65{
  @include fontSize(65);
}
%fs50{
  @include fontSize(50);
}
/************ fonts *************/
.fs45{
  @extend %fs45;
  h1,h2,p,h3{
    @extend %fs45;
    line-height: 1.22;
    letter-spacing: -0.33px;
  }
}
.fs30{
  @extend %fs30;
  h1,h2,p,h3{
    @extend %fs30;
    line-height: 1.16;
    letter-spacing: -0.5px;
  }
}
.fs65{
  @extend %fs65;
  h1,h2,p,h3{
    @extend %fs45;
    line-height: 1.12;
    letter-spacing: -0.23px;
  }
}
.fs50{
  @extend %fs50;
  h1,h2,p,h3{
    @extend %fs45;
    line-height: 1.3;
    letter-spacing: -0.3px;
  }
}