 .site-footer {
    background-color: $green;
    color: white;
    padding: calc(70vw / 19.2) calc(190vw / 19.2) calc(90vw / 19.2) calc(278vw / 19.2);
    @media(max-width:767px){
      padding: 30px 25px 50px;
    }
    .footer-inner {
    display: flex;
    justify-content: space-between;
      @media(max-width:767px){
        display: inline-block;
      }
  }
    .footer-brand {
   width:38.5%;
    padding-right: calc(113vw / 19.2);
    img{
        width:100%;
        height: auto;
    }
    @media(max-width:767px){
      width:50%;
      padding-right: 50px;
      float:left;
    }
  }
  .col-2{
    width:26%;
    padding-right: calc(75vw / 19.2);
    @media(max-width:767px){
      width:45%;
      padding-right:0;
      float:left;
      padding-bottom: 25px;
    }
  }
  .col-3{
    padding-right: calc(107vw / 19.2);
    width:45%;
     @media(max-width:767px){
      width:100%;
      padding-right: 0;
      float:left;
    }
  }
   .footer-social {
    display: flex;
    gap: 10px;
      @media(max-width:767px){
      padding-top: 20px;
    }
    a {
    width: calc(56vw / 19.2);
    height: calc(56vw / 19.2);
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    @media(max-width:767px){
      width:50px;
      height: 50px;
      
    }
    &:hover {
        border-color: $orange;
svg path{
        fill:$orange;
    }
    } 
  }
  }
  .menu-col__list{
    gap:1.1px;
   a{
        text-decoration: underline;
    }
  }
  .menu-col__title{
    padding-bottom: 0;
   
  }
  .phone {
    display: block;
    font-weight: 700;
    font-size: calc(22vw / 19.2);
    font-family: 'Manrope Bold';
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-bottom: calc(30vw / 19.2);
     @media(max-width:767px){
      font-size: 16px;
      margin-bottom: 20px;
     }
  }
  address {
    font-style: normal;
    font-size: calc(22vw / 19.2);
    line-height: 1.6;
  margin-bottom: calc(25vw / 19.2);
   @media(max-width:767px){
      font-size: 16px;
      margin-bottom: 20px;
     }
  }
  .footer-hours {
    font-size: calc(22vw / 19.2);
   margin-bottom: calc(30vw / 19.2);
   padding-right: calc(70vw / 19.2);
    @media(max-width:767px){
      font-size: 16px;
      margin-bottom: 20px;
      padding-right: 0;
     }
  }

  .footer-hours div {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 2px 0;
  }
  .menu-overlay__cta{
    margin-top:0;
    &:hover{
        background-color: $dark;
    }
  }
  }
.site-footer__bottom{
     padding: calc(40vw / 19.2) calc(140vw / 19.2);
       display: flex;
       justify-content: space-around;
       align-items: center;
      .site-footer__copyright,
      .site-footer__policy,
      .site-footer__credit {
        display: block;
        color:black;
      }
      a:hover{
        text-decoration: underline;
        color:$green;
      }
       @media(max-width:767px){
     padding: 30px 25px;
     }
   
}