 .site-footer {
    background-color: $green;
    color: white;
    padding: calc(70vw / 19.2) calc(190vw / 19.2) calc(90vw / 19.2) calc(278vw / 19.2);
    border-radius: 6px;
    .footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    .footer-brand {
    flex: 0 0 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    img{
        width:100%;
        height: auto;
    }
  }
   .footer-social {
    display: flex;
    gap: 10px;
    a {
    width: calc(56vw / 19.2);
    height: calc(56vw / 19.2);
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
  }
  }
  .menu-col__list{
   a{
        text-decoration: underline;
    }
  }
  .menu-col__title{
    padding-bottom: 0;
   
  }
  .phone {
    display: block;
    
    font-weight: 700;
    font-size: calc(22vw / 19.2);
    font-family: 'Manrope Bold';
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-bottom: calc(30vw / 19.2);
  }
  address {
    font-style: normal;
    font-size: calc(22vw / 19.2);
    line-height: 1.6;
  margin-bottom: calc(30vw / 19.2);
  }
  .footer-hours {
    font-size: calc(22vw / 19.2);
   margin-bottom: calc(30vw / 19.2);
  }

  .footer-hours div {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 2px 0;
  }
  }
