.pb-30{
  padding-bottom: calc(30vw / 19.2);
}
.pb-50{
  padding-bottom: calc(50vw / 19.2);
}
.pl-140{
  padding-left: calc(140vw / 19.2);
}
.pt-160{
  padding-top: calc(160vw / 19.2);
}
.pb-160{
  padding-bottom: calc(160vw / 19.2);
}
.pr-96{
    padding-right: calc(96vw / 19.2);
}
.pr-26{
    padding-right: calc(26vw / 19.2);
}