.pb-30{
  padding-bottom: calc(30vw / 19.2);
}
.pb-20{
  padding-bottom: calc(20vw / 19.2);
}
.pb-25{
  padding-bottom: calc(25vw / 19.2);
}
.pb-35{
  padding-bottom: calc(35vw / 19.2);
}
.pb-50{
  padding-bottom: calc(50vw / 19.2);
}
.pl-140{
  padding-left: calc(140vw / 19.2);
}
.pl-237{
  padding-left: calc(237vw / 19.2);
}
.pt-160{
  padding-top: calc(160vw / 19.2);
}
.pt-110{
  padding-top: calc(110vw / 19.2);
}
.pb-160{
  padding-bottom: calc(160vw / 19.2);
}
.pb-90{
  padding-bottom: calc(90vw / 19.2);
}
.pb-195{
  padding-bottom: calc(195vw / 19.2);
}
.pr-96{
    padding-right: calc(96vw / 19.2);
}
.pr-180{
    padding-right: calc(180vw / 19.2);
}
.pr-26{
    padding-right: calc(26vw / 19.2);
}